.avg {
	text-align: center;
	background-color: var(--color-lightest);
	border: 3px solid var(--color-light);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	margin: 0.5rem 1.6rem;
	width: 98%;
	transform: translateX(-16px);

	span {
		color: var(--color-darkest);
		font-size: 2.3rem;
		font-weight: 700;
	}

	.avgPrices {
		display: flex;
		justify-content: center;
		font-size: 2rem;
		text-align: center;

		.avgPrice {
			font-family: 'digital-7', sans-serif;
			color: black;
			font-size: 3.5rem;
			font-weight: 600;
			letter-spacing: 1.5;
			margin-right: 1.3rem;
		}
	}
}
