/* FONTS */
/* red-hat-display-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/red-hat-display-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/red-hat-display-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/red-hat-display-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-800 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/red-hat-display-v20-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* digital-1 */
@font-face {
	font-family: 'digital-7';
	src: url('../fonts/digital-7.ttf');
}

/* COLORS */
:root {
	--color-darkest: #3c9099;
	--color-dark: #5fbdb0;
	--color-light: #e3e2c3;
	--color-lightest: #f0efe2;
	--color-grey-dark: #41444b;
	--color-grey-medium: #52575d;
	--color-grey-light: #dfd8c8;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

*:focus-visible {
	outline: none;
	box-shadow: 0 0 0 0.8rem var(--color-dark);
	border-radius: 5px;
	padding: 0.5rem;
}

::selection {
	background-color: var(--color-dark);
	color: var(--color-light);
}

html {
	font-size: 62.5%;
	box-sizing: border-box;

	/* WebKit-based browsers */
	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--color-darkest);
	}

	::-webkit-scrollbar-track {
		background-color: var(--color-lightest);
	}

	/* Firefox */
	scrollbar {
		width: 10px;
		height: 10px;
	}

	scrollbar-thumb {
		background-color: var(--color-lightest);
	}

	scrollbar-track {
		background-color: var(--color-lightest);
	}
}

body {
	background: linear-gradient(to right, var(--color-darkest), var(--color-dark));
	font-family: 'Red Hat Display', sans-serif;
	color: var(--dark-grey);
	font-size: 2rem;
	line-height: 1.6;
}

.btn {
	background: none;
	border: none;
}

li {
	list-style: none;
}

strong {
	color: var(--color-light);
	font-size: 2.5rem;
	font-weight: 800;
}

/* Leaflet Popup */
.leaflet-popup .leaflet-popup-content-wrapper {
	color: var(--color-lightest);
	font-size: 1.3rem;
	border-radius: 5px;
	text-align: center;
}

.leaflet-container a.leaflet-popup-close-button {
	color: var(--color-lightest);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	background-color: var(--color-darkest);
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
		rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.leaflet-popup-content {
	cursor: pointer;
	transition: all 0.2s;

	&:hover {
		transform: scale(1.2);
	}
}
