.cards {
	background-color: var(--color-light);
	padding: 1rem;
	color: var(--color-grey-dark);
	font-size: 2rem;
	font-weight: 600;
	overflow-y: scroll;

	.station {
		display: grid;
		grid-template-rows: min-content 1fr;
		padding: 1rem 2rem;
		row-gap: 1rem;
		margin-bottom: 2rem;
		background-color: var(--color-lightest);
		color: var(--color-grey-medium);
		border: 3px solid var(--color-light);
		border-radius: 5px;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
		cursor: pointer;
		transition: transform 0.2s;

		img {
			width: 4rem;
		}

		.station__name {
			padding-bottom: 0.5rem;
			border-bottom: 4px solid var(--color-light);

			h2 {
				font-size: 2.5rem;
				display: flex;
				justify-content: space-between;
				color: var(--color-darkest);
				font-weight: 700;
			}

			.station__open-close {
				font-size: 1.7rem;
				padding: 0.5rem 1rem;
				border-radius: 5px;
				color: var(--color-lightest);
				transform: translate(16px, -5px);
			}

			.station__open-close {
				font-size: 1.7rem;
				padding: 0.5rem 1rem;
				border-radius: 5px;
			}
		}

		&:hover {
			box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 16px -2px, rgba(0, 0, 0, 0.2) 0px 4px 10px -3px;
			transform: translateY(-0.3rem);
		}
	}

	.station__prices ul {
		display: flex;
		justify-content: center;
		font-size: 2.3rem;
		text-align: center;

		.price {
			font-family: 'digital-7', sans-serif;
			color: black;
			font-size: 3.5rem;
			font-weight: 600;
			letter-spacing: 1.5;
		}
	}
}
