.spinner-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.3);
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
}

.spinner {
	border: 6px solid var(--color-darkest);
	border-left-color: var(--color-lightest);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
